<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_course_security:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_course_security_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes" />
      </element>
    </root>
  </artifact>
</component>